@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}

body {
    background-color: rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    font-family: 'playfar display';

}

.section-padding {
    padding: 100px 0;
}

.carousel-item {
    height: 50vh;
    min-width: 100px;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h3 {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 15px;
    line-height: 1.9;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;

}

h1 {
    color: rgb(255, 238, 216);
    font-size: 4em;
    font-weight: 700;
    font-family: 'playfar display';
    text-align: center;
}

p {
    color: rgb(226, 212, 212);
    font-size: 2em;
    font-weight: 600;
    font-family: 'playfar display';
    text-align: center;
}

p2 {
    font-size: 2em;
    font-weight: 700;
    font-family: 'Bebas Neue';
    color: rgb(133, 122, 107);
} 
p3 {
   
    font-size: 30px;
    font-weight: 700;
    font-family: 'playfar display';
    color: rgb(179, 169, 156);
 
}

h2 {
    font-size: 3em;
    font-weight: 700;
    font-family: 'playfar display';
    color: rgb(216, 179, 140)
}

h3 {
    color: rgb(233, 226, 210);
}

h4 {
    font-size: 1em;
    color: rgb(189, 179, 179);
    font-weight: 200;
}

h5 {
    color: rgb(160, 152, 140);
    font-size: 4em;
    font-weight: 300;
    text-align: center;
    font-family: 'playfar display';
}

main img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/*nav*/
.botonera {
    background-color: rgb(29, 27, 25);
    font-family: 'playfar display';
}

.navbar-nav .nav-link {
    color: rgb(236, 220, 198);
    font-family: 'playfar display';
    font-weight: 300;
    font-size: 20px;
}

.botonera img {
    width: 100px;
}

.botonera ul li a:hover {
    color: rgb(241, 212, 148);
    text-decoration: underline;
    font-family: 'playfar display';
}

.btn-brown {
    background-color: burlywood;
}

.btn-brown:hover {
    background-color: rgb(168, 142, 107);
    text-decoration: underline;
}



@media only screen and (min-width: 768px)and(max-width: 991px) {
    .carousel-caption {
        bottom: 367px;
    }

    .carousel-caption p {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .botonera {
        text-align: center;
    }

    .carousel-caption {
        bottom: 125px;
    }

    .carousel-caption h3 {
        font-size: 17px;
    }

    .carousel-caption a {
        padding: 10px 15px;
    }

    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }

}


/*index*/
.container {
    background-color: rgb(94, 83, 68);
    padding: 10px;
}

.indice-texto {
    text-align: center;
    
}

#indicee {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-template-areas:
        "img1 text1 img3 img4"
        "text2 img2 img3 img5";
}

.fotos {
    display: flex;  
}
.fotos1 img{
    width: 60%;
}
.fotos2 img{
    width: 60%;
}
.texto-fotos{
    text-align: right;
    font-size: 1rem;
}
.texto1 {
    margin-top: 50px;
    grid-area: text1;
    text-align: center;
    font-size: 0.8em;
    background-color: rgb(0, 0, 0);
}

.imagen1 {
    grid-area: img1;
}

.texto2 {
    margin-top: 40px;
    grid-area: text2;
    text-align: center;
    font-size: 0.8em;
    background-color: rgb(2, 2, 2);
}

.imagen2 {
    grid-area: img2;
}

.imagen3 {
    grid-area: img3;
}

.imagen4 {
    grid-area: img4;
}

.imagen5 {
    grid-area: img5;
}

.flex-container{
    display: flex;
    flex-flow: wrap;
    text-align: center;
    justify-content: center;

}
.flex-container img{
    margin-left: 22px;
    max-width: 300px;
    padding: 1rem;
    margin-bottom: 30px;
    
}
.flex-container img:hover{
    filter: opacity(.5);
}

.logo-index{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    src: "cdrems.svg";
}
.logo-index img{
   max-width: 200px;
   padding: 1rem;
}

/*NOSOTROS*/

.texto-nosotros {
    max-width: 700px;
    width: 100%;
    padding: 45px 20px;
    margin: 0 auto;
}

.texto-contacto {
    padding: 45px 20px;
    margin: 0 auto;
}

.title {
    font-size: 3rem;
}

.parrafo {
    font-size: 1.5rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 400px);
    grid-template-areas:
        "fot-1 fot-2 fot-3"
        "fot-1 fot-4 fot-3"
        "fot-1 fot-5 fot-6";
    gap: 10px;
}

.fot-1 {
    grid-area: fot-1;
}

.fot-2 {
    grid-area: fot-2;
}

.fot-3 {
    grid-area: fot-3;
}

.fot-4 {
    grid-area: fot-4;
}

.fot-5 {
    grid-area: fot-5;
}

.fot-6 {
    grid-area: fot-6;
}


.videos {
    padding: 32px 30px 20px 40px;
    background-color: rgb(0, 0, 0);
    display: flex;
}

.vid1 {
    padding: 10px 10px 10px 10px;
}

.vid2 {
    padding: 10px 10px 10px 10px;
}

.vid3 {
    padding: 10px 10px 10px 10px;
}

.vid4 {
    padding: 10px 10px 10px 10px;
}

.vid-nosotros {
    display: flex;
    flex-wrap: wrap;
}


.box-top {
    padding: 4px 0;
    text-align: center;
    color: rgb(126, 125, 116);
    background-color: rgb(228, 200, 165);
    font-size: 2rem;
}

.container-img img {
    width: 30%;
    height: auto;
    margin-top: 50px;
    padding: 0 10px;
}

/*tienda*/
.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid: actions;
}

.actions button {
    margin-left: 10px;
    background-color: rgb(212, 195, 171);
    color: rgb(0, 0, 0);
    padding: 6px;
    border: none;
    border-radius: 3px;
}

.actions input {
    border-radius: 3px;
    color: black;
    background-color: rgb(206, 184, 156);
    padding: 6px;
}

.filters {
    padding: 0 10px 30px 30px;
}

.filters a {
    color: rgb(231, 207, 173);
    font-size: 1.5rem;
    text-decoration: none;
    margin-bottom: 4px;
    text-transform: lowercase;
}

.filters a:hover {
    color: rgb(109, 96, 78);
}

.filters span {
    display: block;
    color: rgb(255, 255, 255);
    margin: 10px;
    letter-spacing: 1px;

}

.filters select {
    color: white;
    border: none;
    background-color: rgb(134, 116, 100);
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.filters li {
    padding-left: 10px;
    list-style: none;
}

.bg-black {
    background-color: rgb(0, 0, 0);
}

.tienda1 {
    display: grid;
    grid-template-columns: 1fr, repeat(2, 2fr);
    grid-template-rows: 50px 200px 200px 200px;
    gap: 10px;
    grid-template-areas:
        "actions actions actions"
        "filters uno dos"
        "filters tres cuatro";
}

.tienda1 section {
    border-radius: 10px;
}

.tienda1 .actions {
    background-color: rgb(128, 113, 95);
    padding: 0 30px;
    grid-area: actions;

}

.tienda1 .filters {
    grid-area: filters;
}

.tienda1 .producto1 {
    grid-area: uno;
    margin-right: 15px;
    margin-bottom: 10px;
}

.tienda1 .producto2 {
    grid-area: dos;
    margin-right: 15px;
    margin-bottom: 10px;
}

.tienda1 .producto3 {
    grid-area: tres;
    margin-right: 15px;

}

.tienda1 .producto4 {
    grid-area: cuatro;
    margin-right: 15px;
}

.img-header {
    display: flex;
    width: 100%;
}

/*card promociones*/
.card {
    background-color: rgb(116, 106, 92);
    margin-right: 10px;
    margin-left: 5px;
}

/*contacto*/
.contenedor {
    width: 60%;
    color: rgb(104, 84, 46);
    padding: 30px;
    border-radius: 0;
    position: relative;

}

.row {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.col-md-6 {
    padding: 30px;
    color: rgb(104, 84, 46);
    background-color: rgb(207, 193, 174);
}

.col-md-6 {
    background-color: rgb(207, 193, 174);
    padding: 30px;
    color: rgb(104, 84, 46);
}

.form-control {
    height: 52px;
    background: white;
    color: rgb(104, 84, 46);
    font-size: 14px;
    border-radius: 2px;
    box-sizing: none !important;
    border: 1px solid rgba (0, 0, 0, 0.1);
}

.di-flex p1 {
    font-size: 20px;
    color: rgb(131, 116, 93);
    padding-left: 10px;
    font-family: 'playfar display'
}

.mapa {
    display: flex;
    justify-content: left;
    margin-left: 18px;

}

@media only screen and (min-width:768px) and (max-width:991px) {
    .contenedor {
        width: 100%;
        position: relative;
        
    }
}
@media only screen and (min-width:768px) and (max-width:991px){
    .mapa{
        width: 100%;
        position: relative;
       
    }
}
/*footer*/
.d-flex {
    display: flex;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    background-color: rgb(29, 27, 25);
    padding: 0;
}

footer svg {
    fill: burlywood;
    width: 30px;
    margin-right: 10px;

}

footer a {
    text-decoration: none;
    display: block;
    color: burlywood;
    font-size: 1.3rem;

}

/*media queries*/

@media(width < 768px) {
    .tienda {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        gap: 10px;
        grid-template-areas:
            "actions"
            "filters"
            "uno"
            "dos"
            "tres"
            "cuatro";
    }

    .tienda section {
        padding: 10px 0;
        margin: 0 20px;
    }

    nav {
        justify-content: center;
    }

    nav ul,
    .filters span,
    .filters ul {
        display: none;
    }

    .filters select {
        background-color: rgb(90, 79, 66);
        padding: 6px;
        display: block;
        width: 90%;
        margin: auto;
        border-radius: 4px;
    }

    .actions {
        justify-content: center;
        margin-top: 20px;
    }

    .actions input[placeholder="buscar"] {
        width: 350px;
    }

    footer {
        flex-direction: column;
    }

    footer svg {
        width: 20px;
    }

    footer div:nth-child(2) {
        margin: 10px 0;
    }

    footer a {
        font-size: 1rem;
    }

}